body {
	background-image: url('2018.png');	
}

h1 {
	color: lightgray;
	font-family: sans-serif;
	Font-size: 36pt;
}

h1:hover {
	background-color: gray;
	border-radius: 5px;
	
}
.container {
    position: relative;
    
}

a:hover {
	color: black;
	background: lightgray;
}

p {
	color: lightgray;
}

div.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 3px solid gray;
	border-radius: 5px;
}
